.SingleAnswer {
    margin: 2% 0% 2% 0%;
    cursor: pointer;
    display: flex;
}

.SingleAnswer .wrapper {
    min-width: 25%;
    border-bottom: 1px solid;
}

.SingleAnswer .wrapper:hover {
    font-weight: bold;
}

.SingleAnswer .selected {
    background-color: green;
    box-shadow: 0 0 2px 2px;
    border-radius: 5px;
    padding: 1%;
}

@media only screen and (max-width: 600px) {
    .SingleAnswer {
        margin: 7% 0% 7% 0%;
    }
    .SingleAnswer .wrapper {
        min-width: 98%;
    }
}