#AppWrapper {
    background-color: #cac1c1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#AppWrapper #content-container {
    background-color: #fff;
    width: 95%;
    border-radius: 5px;
    min-height: 40vh;
    padding: 1%;
}

#AppWrapper #final-score-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#final-score-container #final-score-div {
    padding: 3%;
    background-color: yellow;
    border-radius: 15px;
    text-align: center;
    font-size: 2em;
}

#AppWrapper #controllers {
    background-color: #fff;
    width: 95%;
    border-radius: 5px;
    height: 10vh;
    padding: 1%;
    display: flex;
}

#controllers .btn-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#controllers .btn {
    border: 1px solid;
    width: 15vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

#controllers .btn-disabled {
    background-color: gray;
}